language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  
before_script:
  - wget -nc http://getcomposer.org/composer.phar
  - php composer.phar install --dev

script: bin/phpunit -c phpunit.xml.dist

notifications:
  email:
    - info@endroid.nl
